<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58b4bd6c-27f1-490f-9a0f-e009b8655af8" Alias="Article - Categories - Multinode Treepicker" Level="1">
  <Info>
    <Name>Article - Categories - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>31</SortOrder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site/categories",
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false
}]]></Config>
</DataType>