<?xml version="1.0" encoding="utf-8"?>
<DataType Key="144d2bc3-dfb7-488e-afb7-eb43e9cd515d" Alias="Articles - Promoted Articles - Multinode Treepicker" Level="1">
  <Info>
    <Name>Articles - Promoted Articles - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>33</SortOrder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$current",
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": true
}]]></Config>
</DataType>