<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28edaaac-3589-41bc-a002-5d95cb38d6eb" Alias="Article - Tags - Multinode Treepicker" Level="1">
  <Info>
    <Name>Article - Tags - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>32</SortOrder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site/tags",
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false
}]]></Config>
</DataType>