<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8077675f-195d-4632-8963-6f037b4d8b7d" Alias="Website - Stylesheet - Textbox" Level="1">
  <Info>
    <Name>Website - Stylesheet - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>30</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>