<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7e29ee2-53c9-437f-986f-3c3007c2cc60" Alias="articles" Level="1">
  <Info>
    <Name>Articles</Name>
    <Icon>icon-newspaper color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5efa8d3d-e864-4a6c-83e9-97dd1ce492c4">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a48b5d37-4d26-4df8-9c3c-90a1adf17949">article</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>17a92c6d-2e30-4695-8c00-d98e0ab310cb</Key>
      <Name>Promoted Articles</Name>
      <Alias>promotedArticles</Alias>
      <Definition>144d2bc3-dfb7-488e-afb7-eb43e9cd515d</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>