<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a48b5d37-4d26-4df8-9c3c-90a1adf17949" Alias="article" Level="1">
  <Info>
    <Name>Article</Name>
    <Icon>icon-article color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="640045f5-96c6-40f1-ba4c-47e299ce83dd">searchEngineOptimization</Composition>
      <Composition Key="5953d582-13f8-47f8-9959-89d6e292966c">socialMedia</Composition>
    </Compositions>
    <DefaultTemplate>BlogPost</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="83c39f05-3689-4c9e-838d-82831afb3c3e">BlogPost</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0c817ca4-1ad7-4c54-91e4-a5999d9c76f5</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>58b4bd6c-27f1-490f-9a0f-e009b8655af8</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fd334427-a242-4ffd-8944-7713b082e11d</Key>
      <Name>Grid Content</Name>
      <Alias>gridContent</Alias>
      <Definition>d73b41bd-b162-4a51-8418-4cf5e151f53c</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b54af385-a30f-40fe-b01f-3cc016453a9d</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>28edaaac-3589-41bc-a002-5d95cb38d6eb</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>