<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2b5b305b-247e-4756-8db2-9e050accfbd1" Alias="category" Level="2">
  <Info>
    <Name>Category</Name>
    <Icon>icon-tag color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>