<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dc1b0035-8382-455e-83f6-4197207fff70" Alias="categories" Level="2">
  <Info>
    <Name>Categories</Name>
    <Icon>icon-categories color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate>categories</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3eea778a-9f83-4f62-928f-2fc00140203f">categories</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2b5b305b-247e-4756-8db2-9e050accfbd1">category</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>