<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18cba83c-91f0-4993-82f2-2fc19149509c" Alias="rss" Level="1">
  <Info>
    <Name>RSS</Name>
    <Icon>icon-rss color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>RSS</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="24d210f7-5c79-4142-aa6d-8476dcc6c072">RSS</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>