<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0fb83ee0-3134-47e1-a630-407704280301" Alias="sitemap" Level="1">
  <Info>
    <Name>Sitemap</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Sitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1a9d4bed-0d18-4353-a26f-6880b6f0864b">Sitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>