<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c16e4def-c52a-476c-b486-283df481e341" Alias="tag" Level="2">
  <Info>
    <Name>Tag</Name>
    <Icon>icon-tag color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>