<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf312248-8590-4e36-9b93-593c044455aa" Alias="tags" Level="2">
  <Info>
    <Name>Tags</Name>
    <Icon>icon-tags color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate>tags</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c5d7f43a-9af5-42da-9280-0694dfa4d333">tags</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c16e4def-c52a-476c-b486-283df481e341">tag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>