@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;

    string BRAND_ASSETS = "~/Assets/Brands/";
}

<!DOCTYPE html>
<html lang="@Model.GetCulture().Culture">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @*<meta name="description" content="@seo" />*@
</head>
<body>
    @RenderBody()
</body>
</html>
